* {
    margin: 0;
    box-sizing: border-box;
}



#content {
    z-index: 111;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #d23dff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box {
    padding: 50px 40px;
    background-color: #ffffff;
    text-align: center;
    border: 0px;
    border-radius: 20px;
    animation: box 5s infinite;
    transition: animation 500ms ease-in-out;
}
.btn {
    margin-top: 20px;
    padding: 15px 30px;
    border: 0px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #d23dff;
    cursor: pointer;
    position: relative;
    transition: .5s;
}
.btn:hover {
    background-color: #b339d8;
}
.btn-two {
    margin-top: 20px;
    padding: 15px 30px;
    border: 0px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #d23dff;
    cursor: pointer;
    position: relative;
    transition: .5s;
    margin-left: 20px;
}
.btn-two:hover {
    background-color: #b339d8;
}
.textBox{
    font-size: 20px;
    color: #111;
    font-weight: 600;
}
@keyframes box {
    0% {
       transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}